#welcome {
  --primary: #555BFF;
  --secondary: #22D2A0;
  --background: #232323;
  --green: #1FC11B;
  --yellow: #FFD913;
  --orange: #FF9C55;
  --red: #FF5555;

  .Panel__in {
    background-image: linear-gradient(180deg,#4a7ed0 0,#4a6fb8 100%);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .FixedLayout {
    left: 50%;
    bottom: var(--safe-area-inset-bottom);

    transform: translateX(-50%);
  }
}

.welcome {

  &__card {
    position: absolute;

    width: 100px;
    padding: 15px;

    font-family: 'SF Pro Display', Helvetica, sans-serif;
    font-size: 22px;
    letter-spacing: -.8px;
    color: #fff;
    text-align: center;

    background-color: #232323;

    &--1 {
      top: 12vh;
      left: 0;

      border: 3px solid var(--green);

      transform: rotate(30deg) translateX(-30px);

      animation: 5s bounce infinite alternate;
    }

    &--2 {
      top: 15vh;
      right: 0;

      border: 3px solid var(--yellow);

      transform: rotate(-30deg) translateX(30px);

      animation: 4s bounce2 infinite alternate;
    }

    &--3 {
      bottom: 12vh;
      left: 0;

      border: 3px solid var(--orange);

      transform: rotate(-30deg) translateX(-30px);

      animation: 5s bounce infinite alternate;
    }

    &--4 {
      bottom: 17vh;
      right: 0;

      border: 3px solid var(--red);

      transform: rotate(30deg) translateX(30px);

      animation: 4s bounce2 infinite alternate;
    }
  }

  &__text {
    margin-bottom: 20px;
    font-family: 'SF Pro Text', Helvetica, sans-serif;
    font-weight: 500;

    font-size: 18px;
    line-height: 22px;
    color: var(--grey);
    text-align: center;
  }
}

@keyframes bounce {
  from {
    transform: rotate(30deg) translateX(-20px);
  }

  to {
    transform: rotate(-30deg) translateX(-20px);
  }
}

@keyframes bounce2 {
  from {
    transform: rotate(-30deg) translateX(20px);
  }

  to {
    transform: rotate(30deg) translateX(20px);
  }
}
